---
BasedOnStyle: Webkit
IndentWidth: 4
ColumnLimit: 130
---
Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
    BeforeElse: true
NamespaceIndentation: None
TabWidth: 4
UseTab: ForIndentation
...
