---
BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 160
---
Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Stroustrup
FixNamespaceComments: true
NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
TabWidth: 4
UseTab: ForIndentation
StatementMacros:
  - NAMESPACE_HAL_BEGIN
  - NAMESPACE_HAL_END
  - NAMESPACE_FAL_BEGIN
  - NAMESPACE_FAL_END
  - NAMESPACE_MAL_BEGIN
  - NAMESPACE_MAL_END
  - NAMESPACE_PAL_BEGIN
  - NAMESPACE_PAL_END
...
